/*------------------------*\
        PLANOS
\*-------------------------*/
.plano {
    position: relative;
    border: 0.1rem solid #95a4a5;
    padding: 0 2rem 0 2rem;
}

@media (max-width: 750px) {
    .layout-planos .row > div:not(.ultimo-plano) {
        margin-bottom: 4rem;
    }
}

.plano--mais-popuplar::after {
    position: absolute;
    top: -1rem;
    left: -1rem;
    font-size: 1rem;
    line-height: 2.5;
    padding: 0 1rem;
    background-color: #c20303;
    color: #FFFFFF;
    content: "MAIS POPULAR";

}

.plano__cabecalho {
    background-color: #95a4a5;
    color: #ffffff;
    text-align: center;
    line-height: 2.5;
    padding: 0;
    margin: 0 -2rem 0 -2rem;
    font-weight: normal;
    font-size: 2.8rem;
}

.plano__preco {
    text-align: center;
    font-size: 2.8rem;
    margin: 2rem 0;
}

.plano__caracteristicas {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    font-size: 1.4rem;
}

.plano__caracteristicas li {
    text-align: center;
}

.plano__rodape {
    text-align: center;
}


/*------------------------*\
          BOTÃO
\*-------------------------*/
.botao {
    display: inline-block;
    background-color: #bbb;
    color: #ffffff;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    margin-bottom: 1.5rem;
    line-height: normal;
}

.botao:hover, .botao:focus{
    background-color: #aaa;
    text-decoration: none;
    color: #FFF;
}

.botao--assinar, .botao--login {
    background-color: #123d00;
}

.botao--assinar:hover, .botao--assinar:focus,
.botao--login:hover, .botao--login:focus{
    background-color: #0e6400;
}

.botao--principal {
    border-radius: 1rem;
    background-color: #004b86;
}

.botao--principal:hover, .botao--principal:focus {
    background-color: #003b6a;
}

/*------------------------*\
          CHAMADA
\*-------------------------*/

.chamada {
    font-size: 1.6rem;
    text-align: center;
}

.chamada__titulo {
    margin: 0;

    color: #FFFFFF;

    font-size: 3.375em;
    line-height: 0.9;
    text-shadow: 1px 1px #313131;
}

.chamada__subtitulo {
    margin: 6rem 0;
    color: #FFFFFF;
    font-size: 1em;
}

.chamada__acao {
    font-size: 1em;
}

@media (min-width: 992px) {
    .chamada {
        padding: 0 10%;
        font-size: 2.2rem;
    }
}

/*------------------------*\
          DEPOIMENTOS
\*-------------------------*/

.depoimento {
    font-size: 2.2rem;
}

@media (min-width: 992px) {
    .depoimento {
        padding: 0 15%;
        font-size: 2.8rem;
    }
}

.depoimento > blockquote {
    margin: 0;
    padding: 0 6rem;
    position: relative;
    text-align: center;
}

.depoimento > blockquote::before {
    position: absolute;
    top: -0.35em;
    left: 0;

    color: #CCCCCC;
    font-size: 17.6rem;
    content: "\201C";
}
.depoimento__autor {
    margin-top: 4rem;

    text-align: center;
    font-size: 1.6rem;
}

.depoimento__autor > img {
    border-radius: 50%;
}

.depoimento__autor > p {
    margin-top: 1rem;
}

/*------------------------*\
         NAVEGACAO
\*-------------------------*/

.navegacao {

}

.navegacao__menu {
    float: right;
}

/*------------------------*\
       BOTAO CHAVEADOR
\*-------------------------*/

.botao-chaveador {
    width: 2.4rem;
    height: 2.4rem;
    border: 0;

    background: none;
    background-image: url("../images/bars.png");

    outline: none;
}

@media(min-width: 992px) {
    .botao-chaveador {
        display: none;
    }
}

/*------------------------*\
       MENU
\*-------------------------*/
.menu {
    margin: 0;
    font-size: 1.4rem;
    list-style: none;
}

@media(max-width: 991px) {
    .menu {
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        position: fixed;
        border-right: 1px solid #eeeeee;
        background-color: #fbfbfb;
        padding: 2rem;
    }

    .menu__item {
        display: block;
        line-height: 3;
    }

    .menu__item--botao {
        margin-top: 2rem;
    }
}

@media(min-width: 991px) {
    .menu__item {
        display: inline-block;
        padding-right: 2rem;
    }

    .menu__item:last-of-type {
        padding-right: 0;
    }
}
