.layout-cabecalho {
    height: 6.0rem;
    border-bottom: 0.1rem solid #ccc;
}

.layout-cabecalho img {
    margin-top: 1.2rem;
}

.layout-planos {
    padding: 8.0rem 0;
}

.layout-chamada {
    padding: 8rem 0;
    background-color: #7ab55c;
}