<app-navbar *ngIf="naoEhTelaDeLogin()"></app-navbar>
<router-outlet></router-outlet>

<ng2-toasty></ng2-toasty>
<p-confirmDialog header="Confirmação" icon="fa fa-question-circle" #confirmacao>
  <p-footer>
    <button   pButton
              type="button"
              icon="fa-check"
              label="Sim"
              (click)="confirmacao.accept()">
    </button>
    <button   pButton
              type="button"
              icon="fa-times"
              label="Não"
              (click)="confirmacao.reject()">
    </button>
  </p-footer>
</p-confirmDialog>
