.navbar{
  padding: 10px 0;
  background-color: #1E94D2;
}

.navbar-toggle{
  color: #fff;
}

.navbar-menu{
  position: fixed;
  background-color: #3a3633;
  top: 0;
  bottom: 0;
  right: 0;
  width: 210px;
  padding: 0;
  margin: 0;
  z-index: 9998;
  list-style: none;
}

.navbar-usuario{
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid #525151;
  margin-bottom: 15px;
}

.navbar-menuitem{
  padding: 15px;
}

.navbar-menuitem a{
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem a:hover{
  color: #fff;
}


.navbar-menuitem.ativo {
  background-color: #494541;
}
